<div class="post-page">

  <div class="banner">
    <div *ngIf="articleContext" class="container">
      <h1>{{ articleContext.title }}</h1>
      <div class="post-meta">
        <div class="info">
          <span class="author">{{articleContext.author}}</span>
          <span class="date">{{articleContext.createdAt}}</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="articleContext" class="container page">
    <div class="row post-content">
      <div class="col-md-12">
        <p>{{articleContext.body}}
      </div>
    </div>

  </div>

</div>
