<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-12">
        <div *ngFor="let article of articles" class="post-preview">
          <div class="post-meta">
            <div class="info">
              <span href="profile.html" class="author">{{ article.author}}</span>
              <span class="date">{{article.createdAt}}</span>
            </div>
          </div>
          <a [routerLink]="['/','main','post',article.slug]" class="preview-link">
            <h1>{{article.title}}</h1>
            <p>{{article.body}}</p>
            <span>Read more...</span>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
